<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Employee Edit</title>
  </head>
  <body>
    <div class="container my-3">

    <h1>Employee Edit</h1>



    <form action="#" th:action= "@{/employee/update(id=${employee.id})}" th:object="${employee}" method="Post">
        
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" th:field="*{fname}" class="form-control" id="fname"  placeholder="Enter First Name">
        </div>
        
        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" th:field="*{lname}" class="form-control" id="lname"  placeholder="Enter Last Name">
        </div>
        
        
        <div class="form-group">
        <label for="gender">Gender</label>
        
            <div class="form-check">
                <input type="radio" id="gender" name="gender"  value="male" th:field="*{gender}">
                <label class="form-check-label" for="gender">Male</label>
            </div>
            <div class="form-check">
                <input type="radio" id="gender" name="gender"  value="female" th:field="*{gender}" checked>
                <label class="form-check-label" for="gender">Female</label>
            </div>
         </div>
        <div class="form-group">
          <label for="dob">Birth Date</label>
          <input type="date" th:field="*{dob}" class="form-control" id="dob"  placeholder="Select Date">
        </div>
         <div class="form-group">
          <label for="department_id">Department Name</label>
          <select th:field="${employee.department}" name="department" class="form-select">
          <option th:each="department:${list}" 
		          th:text="${department.d_name}"
		          th:value="${department.id}">
		  </option>
          </select>
        </div>
         <div class="form-group">
          <label for="salary">Salary</label>
          <input type="text"  th:field="*{salary}" class="form-control" id="salary"  placeholder="Enter Salary">
        </div>
        
        <button type="submit" name= "submit" class="btn btn-primary">Submit</button>
      </form>

    
    
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>